*{
	padding:0.75em;
	margin:0;
	font-family: 'Raleway', sans-serif;

}

.btn {
	height: 8vw;
	width: 60vw;
	font-size: 3.5vw;
}


#label {
	height: 100%;
	width: 100%;
	padding: 0px;
	text-align: center;
}

#cost, .bike-info {
	/*font-size: 100%;*/
	margin: 0px;
	padding: 0px;
}

#labelBackBtn {
	margin: 3em auto;
	display: block;
}

h4 {
	color: #00A850;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

h5 {
	padding: 0px;
}

@media print {
	*{
		/*size: 2.0in 2.0in;*/
		margin: 0px;
		padding: 0px;

	}

	body {
		height: 45mm;
		width: 56mm;
	}
	.btn, #labelBackBtn {
		display: none;
	}
	#label {
		height: 45mm;
		width: 56mm;
		/*margin: -20px;*/
		/*padding: 0px;*/
		text-align: center;
	}

}

/*testing push*/
