*{
	padding:0.75em;
	margin:0;
	font-family: 'Raleway', sans-serif;
}
#buttongroup {
	color: white;
}

#toMenuATag {
		position: relative;
		/*display: block;*/
		left: 15px;
		bottom: 50px;
	}


#warped {
	 position: relative;
	 display: block;
	 width:80px;
	 height:100px;
	 right: 210px;
	 bottom: 100px;

 }

#warped>span[class^=w]:nth-of-type(n+0){
	display:block; position:absolute;
	 -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
	 100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%;
 }

#warped span{
	font-family:'ABeeZee';
	font-size:22px;
	font-weight:regular;
	font-style:normal;
	line-height:0.65;
	white-space:pre;
	overflow:visible;
	padding:0px;
}

#warped .w0 {
	-moz-transform: rotate(4.67rad);
	-webkit-transform: rotate(4.67rad);
	-o-transform: rotate(4.67rad);
	-ms-transform: rotate(4.67rad);
	transform: rotate(4.67rad);
	width: 26px; height: 24px;
	left: 222.03px; top: 197.94px;
}

#warped .w1 {
	-moz-transform: rotate(5.17rad);
	-webkit-transform: rotate(5.17rad);
	-o-transform:rotate(5.17rad);
	-ms-transform: rotate(5.17rad);
	transform: rotate(5.17rad);
	width: 23px; height: 24px;
	left: 229.81px;
	top: 169.43px;
}

#warped .w2 {
	-moz-transform: rotate(5.55rad);
	-webkit-transform: rotate(5.55rad);
	-o-transform:rotate(5.55rad);
	-ms-transform: rotate(5.55rad);
	transform: rotate(5.55rad);
	width: 11px; height: 24px;
	left: 249.11px; top: 152.06px;
}

#warped .w3 {
	-moz-transform: rotate(5.92rad);
	-webkit-transform: rotate(5.92rad);
	-o-transform:rotate(5.92rad);
	-ms-transform: rotate(5.92rad);
	transform: rotate(5.92rad);
	width: 23px; height: 24px;
	left: 261.82px; top: 140.74px;
}

#warped .w4 {
	-moz-transform: rotate(6.39rad);
	-webkit-transform: rotate(6.39rad);
	-o-transform: rotate(6.39rad);
	-ms-transform: rotate(6.39rad);
	transform: rotate(6.39rad);
	width: 23px; height: 24px;
	left: 289.36px; top: 137.4px;
}

#warped .w5 {
	-moz-transform: rotate(6.83rad);
	-webkit-transform: rotate(6.83rad);
	-o-transform:rotate(6.83rad);
	-ms-transform: rotate(6.83rad);
	transform: rotate(6.83rad);
	width: 18px; height: 24px;
	left: 315.77px; top: 145.66px;
}

#warped .w6 {
	-moz-transform: rotate(7.23rad);
	-webkit-transform: rotate(7.23rad);
	-o-transform:rotate(7.23rad);
	-ms-transform: rotate(7.23rad);
	transform: rotate(7.23rad);
	width: 19px; height: 24px;
	left: 332.39px;
	top: 161.54px;
}

#sideBarType {
	color: #116F3A;
}
#plusSign {
	margin-left: 7px;
}
#identify {
	text-align: right;
	font-size: 0.9em;
	display: none;
}
#goBackSpace {
	margin-left: 12px;
	margin-top: -5px;


}

#toMenu {

	display: none;
	background-color: #116F3A;
	color: white;
	height: 180px;
}

.fa{
	padding-right: 0px;
}
#wrapper{
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.4);
	height: 200%;
}
#bikeSideNav {
	width: 100px;
	height: 100%;
	padding: 0px;
	z-index: 1;
	background: url("../resources/Woodgrain_Pattern.png") no-repeat center fixed;
	/*background-position: -20px -20px;*/
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.sideNav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
#linkSet h5 {
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#linkSet {
	margin-left: 20px;

}

#linkSet .kangroo{
	display : inline-block;
	padding-left: 1px;

}

.addMargin {
	margin-left: 100px;
}

#bike{
	margin-left: -40px;
}

.linkGroup:hover {
	color: #27AE61;

}
.linkGroup {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
}

#hamburger {
	width: 100%;

	margin: 0px;
	padding: 5px;
	background-color: #116F3A;
}
#hamburger img {
	padding: 0px;
	margin: 0px;
	min-height: 30px;
	min-width: 30px;
}
#exout {
	display: none;
}

.sideNav p {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.3em;
	display: block;
	transition: 0.3s;
}
.offcanvas p:focus {
	color: #303030;
}
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}
#main {
	transition: margin-left .5s;
	padding: 20px;
}
@media screen and (max-height: 450px){
	.sideNav {padding-top: 15px;}
	.sideNav p {font-size: 18px;}
}

#outerMain{
	/*margin-top: 5.1em;*/
	padding-top: 0px;
}
#header{
	border-bottom:.2em solid rgb(0, 168, 80);
	/*position: fixed;*/
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	top:0;
	display:block;
	/*height: 2em;*/
	background: rgba(255,255,255 ,.9);
	z-index:1;
}
#headerText{
	color: rgb(0, 168, 80);
	display: inline-block;
	vertical-align: top;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
	padding: 0px;


}
.number-box{
	height:2px;
	margin-left:20px;
	margin-bottom: 20px;
	background-color: #F4E786;
	color: #0000FF;
}
#header img {
	display: inline-block;
	position: fixed;
	right: 80px;
	top: 0px;
}

#header-inv-page{
	border-bottom:.2em solid rgb(0, 168, 80);
	margin-top: -30px;
}
#header-inv-page h2{
	/*display: inline-block;*/
	color: rgb(0, 168, 80);
	vertical-align: bottom;
	margin-top: 70px;

}
#header-inv-page img {
	/*display: inline-block;*/
	/*position: absolute;*/
	/*right: 0%;*/
	/*top: 10px;*/
}

table {
	width: 100%;
}
.commit {
	padding-left: 20px;
	right: 0px;
}

#selectionDiv {
	height: 60vh;
	overflow-y: scroll;
	white-space: nowrap;
}

.info{
	color: maroon;
}


#btn-back, #btn-next, #btn-done {
	width: 100%;
	height: 5vw;
	color: white;
	font-size: 2vw;
	background: #303030;
	border: 3px solid #303030;

}

#btn-back {
	box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.50);
}

#btn-next {
	box-shadow: 5px 5px 4px 0px rgba(17,111,58,0.50);
}

#btn-done {
	background: #116F3A;
	border: 3px solid #116F3A;
	box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.50);
}

.btn-selection {

	height: 6vw;
	font-size: 3vw;

}
.features{
	display: inline-block;
}
.btn-selection span {
	padding-bottom: 0px;
	padding-top: 0.5vw;
}


.commit {
	padding-top: 0;
}

th {
	color: #116F3A;
}

h4 {
	color: #00A850;
	display: inline-block;
}
.checkmark {
	height: 8%;
}
.check {
	display: inline-block;
}
select {
	width: 100%;
}
ol {
	padding-left: 2.5em;
}
li {
	padding: 0.1em;
}

#btn-cancel {
	background: #494849;
	color: white;
	height: 5vw;
	font-size: 2vw;
}

#btn-cancel:active {
	background: #303030;
}

#btn-postBike {
	background: #116F3A;
	color: white;
	height: 5vw;
	font-size: 2vw;
}

.btn-edit {
	background: #303030;
	color: #58D68D;
}

.btn-edit:active {
	background: #494849;
}

.rider {
	/*margin-left: -4em;*/
}
.blue {
	color: blue;
}

#selectionDiv button {
	color: white;
}
