*{
  padding: 0;
	margin:0;
	font-family: 'Raleway', sans-serif;
}

h1, h3 {
	letter-spacing: 3px;
}
#goodkarma {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#passwords {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.input-group-addon {
  background-color: transparent;
  padding: 0;
  border: 0px;

}
#submitPassword {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #116F3A;
  border: 1.5px solid #116F3A;
  color: white;
  width: 15vw;
  text-align: center;
  min-width: 80px;
  /*padding-left: 20%;
  padding-right: 20%;*/

}
.centered {
	text-align: center;
	color: white;
}
.loginPageHTML {
	background: url("../resources/road_img.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login {
	background-color: transparent;
}
.buttonControl button{
	/* Rectangle 158: */
	background: transparent;
	border: 3px solid #116F3A;
  height: 15vh;
	/* Administrator: */
	font-family: Verdana;
	font-size: 6vh;
	color: #FFFFFF;
	letter-spacing: 1.28px;
	margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
	width: 60%;
	padding: 0;
	display: block;
}
.buttonControl button:hover{
	color: #116F3A;
}

.submit {
	color: #474749;
}
form {
  margin-top: 5vh;
  height: 10vh;
  margin-bottom: 5vh;
}
