*{
  padding: 0;
  margin:0;
  font-family: 'Raleway', sans-serif;
}
#goodkarma {
  font:'Lato', sans-serif;
  font-size: 3.9em;
	background-color: #00A850;
	color: white;
	margin-top: 0;
	margin-bottom: 2vw;
  padding-bottom: 2vw;
  padding-top: 2vw;


}

#loginCenter {
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 8vw;
  margin-top: 2vw;
  margin-right: 8vw;
  padding-top:5vw;
  padding-bottom: 10vw;
  height: 70vw;
}

#passwords {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.input-group-addon {
  background-color: transparent;
  padding: 0;
  border: 0px;

}


#submitPassword {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #116F3A;
  border: 1.5px solid #116F3A;
  color: white;
  width: 15vw;
  text-align: center;
  min-width: 80px;
  /*padding-left: 20%;
  padding-right: 20%;*/

}
.centered {
  text-align: center;
  color: #116F3A;
}
.loginPageHTML {
  background: url("../resources/Woodgrain_Pattern.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.login {
  background-color: transparent;
}
.buttonControl button{
  /* Rectangle 158: */
  background: transparent;
  border: 3px solid #116F3A;
  height: 10vw;
  /* Administrator: */
  font-family: 'Verdana';
  /*font-size: 6vh;*/
  font-size: 6vw;
  color: #303030;
  letter-spacing: 1.28px;
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 0;
  display: block;
}
.buttonControl button:hover{
  color: #116F3A;
}
.buttonControl{
  margin-bottom: 0px;
}
#youthbtn {
  margin-bottom: 0px;
}

.submit {
  color: #474749;
}
