<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}

	<script src="{% static 'bike_donations/angular/JsBarcode.all.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bike_donations/styles/selectStyles.css' %}">

	<title>Print Label</title>
</head>
<body>
	<div id="label">
		<img id="barcode"
			jsbarcode-value="{{customSku}}"
			jsbarcode-height="40"
			jsbarcode-width="1"
		></img>
		<h2 id="cost">${{price}}</h2>
	    <h2 class="bike-info">{{type}}</h2>
	    <h2 class="bike-info">{{brand}}</h2>
	    <button class="btn btn-success btn-lg" onclick="window.print()">Print Label</button>
	</div>
	

	<a id="labelBackBtn" href="/" class="btn btn-warning">Done</a>



</body>
<script type="text/javascript">
	JsBarcode('#barcode').init()
</script>
</html>
