<html ng-app = 'bikeSelect'>
<head>


{% load staticfiles %}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->

	<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
<!-- <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> -->
<!-- <script type = "text/javascript" src = "https:ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script> -->
{% include 'bike_donations/dependencies.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'bike_donations/styles/selectStyles.css' %}">
<script type = "text/javascript" src = "{% static 'bike_donations/angular/app.js' %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />




<!--Angular Below-->

<script type = "text/javascript" src = "{% static 'bike_donations/angular/services/boolService.js' %}"></script>
<script type = "text/javascript" src = "{% static 'bike_donations/angular/services/scrollService.js' %}"></script>

<script type = "text/javascript" src = "{% static 'bike_donations/angular/factories/bikeOptionsFactory.js' %}"></script>
<script type = "text/javascript" src = "{% static 'bike_donations/angular/factories/componentOptionsFactory.js' %}"></script>

<script type = "text/javascript" src = "{% static 'bike_donations/angular/controllers/omniOptionsController.js' %}"></script>
<script type = "text/javascript" src = "{% static 'bike_donations/angular/controllers/bikeOptionsController.js' %}"></script>
<script type = "text/javascript" src = "{% static 'bike_donations/angular/controllers/componentOptionsController.js' %}"></script>

<title>{{request.session.selectionTitle}}</title>
</head>


<body>
<div class="container">
	<div id = "outerMain">
		<div ng-controller = "omniOptionsController" id="buttonBoxDiv" class="row">
			<div id = "header" class="row">
				<h2 class="col-xs-8">{{request.session.selectionTitle}}</h2>
				<img class="img-responsive" src="{% static 'bike_donations/resources/logoThing.jpg' %}" />
			</div>
			<div id="buttonBox" class="row">
				<div id="buttonBoxDiv">
					<div id="buttonBox" class="row">
						<a href="/menu" title="" class="btn btn-warning btn-lg col-xs-12">Back to Menu</a>
					</div>
					<div>
						<a class="btn" href="/logout">Logout</a>
					</div>
					<form>{% csrf_token %}
						<div id='controllerSelect' ng-controller='{{request.session.selection}}'>
							<div ng-view="">

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> <!-- ends main row-->
</div> <!-- end of container -->

</body>
</html>
