<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Donation Check-In</title>
	{% load staticfiles %}
	{% include 'bike_donations/dependencies.html' %}

	<link rel="stylesheet" type="text/css" href="{% static 'donation_menu/styles/styles.css' %}">
</head>
<body>
	<div>


		<h1 class="text-center">GOOD KARMA BIKES</h1>
		<div class="container">
			<div id="menuOptions">



				<h5>
					Logged in as: {{request.user.username}}
				</h5>

					<a href="{% url 'check-in-bike' %}">Bike</a>

					<hr />
					<a href="{% url 'check-in-other' %}">
						Component / Other
					</a>
					<hr />
					<a href="{% url 'find-donation' %}">
						Inventory
					</a>
					<hr />
				</div>


				<a href="/logout" id="btn-logout" class="btn btn-lg col-xs-12">Logout</a>

		</div>
	</div>
</body>
</html>
