<!DOCTYPE html>
<html ng-app='gkbInv'>
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Find a Donation</title>
	
	<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.css' %}">
	<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
	<script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'bike_donations/styles/font-awesome-4.6.3/css/font-awesome.min.css' %}">
	

	<link rel="stylesheet" type="text/css" href="{% static 'bike_donations/styles/selectStyles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'get_inventory/styles/style.css' %}">
	<script src="{% static 'get_inventory/angular/app.js' %}"></script>
	<script src="{% static 'get_inventory/angular/inventoryController.js' %}"></script>
	<script src="{% static 'get_inventory/angular/inventoryFactory.js' %}"></script>
</head>
<body>
	<div class="container">
		<div id = "header-inv-page" class="row">
			<h2 class="col-xs-8">Find a Donation</h2>
			<img class="img-responsive pull-right" src="{% static 'bike_donations/resources/logoThing.jpg' %}" />
		</div>
		<div class="row">
			<div class="row">
			<a href="/menu" class="btn col-xs-12 btn-lg" id="btn-back">Back to Menu</a>
			</div>
		</div>
		<div ng-controller = 'inventoryController'>
			<form>
				{% csrf_token %}
				<div class="form-group">
					<label for="customSku" class="control-label">Scan or type barcode ***Ignore the last digit***</label>
					<input type="text" class="form-control" name="customSku" ng-model="item.sku" minlength="11" maxlength="11">
				</div>
				<div class="form-group text-center">
					<button ng-click="getItem()" class="btn btn-lg" id="btn-search">Search Inventory</button>
				</div>
			</form>
			<div class="row text-center">
				<img src="{% static 'bike_donations/resources/GKBwheel.gif' %}" alt="riding a bike" ng-if="searching">
				
			</div>
			<div class="row">
				<table class="table table-bordered table-striped table-responsive" ng-if="result">
					<caption class="text-center">Inventory Details</caption>
					<tbody>
						<tr ng-if="archived">
							<th class="text-danger">***NOTE***</th><td>This item has been archived/deleted</td>
						</tr>
						<tr>
							<th>Description</th><td>[[result.description]]</td>
						</tr>
						<tr>
							<th>Price</th><td>[[price]]</td>
						</tr>
						<tr>
							<th>Custom SKU</th><td>[[result.customSku]]</td>
						</tr>
						<tr>
							<th>Item ID (Auto Assigned)</th><td>[[result.itemID]]</td>
						</tr>
					</tbody>
				</table>
				<div class="row text-center">
					<form>
						<input type="submit" id="btn-delete" class="btn btn-lg" ng-if="result && !archived" ng-click="deleteItem(result.itemID)" value="Delete from Inventory">
					</form>
				</div>
				<div class="row text-center">
					<h2 ng-if="notFound" ng-bind="notFound"></h2>
					<img ng-if="deleting" src="{% static 'bike_donations/resources/GKBwheel.gif' %}">
				</div>
			</div>
		</div>
	</div>
</body>
</html>