<!DOCTYPE html>
<html ng-app="login" class="loginPageHTML">
  <head >
    {% load staticfiles %}

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.css' %}">
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bike_donations/styles/font-awesome-4.6.3/css/font-awesome.min.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'login/styles/styles.css' %}">

    <script type = "text/javascript" src = "{% static 'login/angular/app.js' %}"></script>
    <script type='text/javascript' src="{% static 'login/angular/controllers/loginController.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body class="login">
    <div ng-controller="loginController">
    <h1 id="goodkarma" class="text-center"><strong>GOOD KARMA BIKES</strong></h1>
    <p>
    <br />
    </p>
    <div class="container">

      <div id="loginCenter">

        <div class="buttonControl text-center row">
          <button onclick="staffColorChange()" id="staffbtn" class="btn btn-lg" ng-click="buttonClicked('Staff')">Staff</button>
          <button onclick="volColorChange()" id="volbtn" class="btn btn-lg" ng-click="buttonClicked('Volunteer')">Volunteer</button>
          <button onclick="youthColorChange()" id="youthbtn" class="btn btn-lg" ng-click="buttonClicked('Youth')">Youth</button>
        </div>

        {% if error %}
        <div class="row text-center">
          <h4 ng-if = "!loginSelection" class="text-danger">
            {{error}}
          </h4>
        </div>
        {% endif %}


        <form class="centered" id="passwords" ng-if="loginSelection" action="{% url 'auth' %}" method="post">
          {% csrf_token %}
          <h3 class="centered" ng-bind="loginSelection"></h3>
          <input type="hidden" name="userType" value="[[loginSelection]]" />
          <div class="input-group">
            <input class="form-control input-lg" name="password" ng-model="secretWord" type="password" placeholder="Password" />
            <div class="input-group-addon">
                <input type="submit" id="submitPassword" class="btn btn-lg"></input>
            </div>

          </div>

        </form>
      </div>
    </div>
    </div>

    <script>
    function staffColorChange(){
      document.getElementById("staffbtn").style.background = "#116F3A";
      document.getElementById("staffbtn").style.color = "white";
      document.getElementById("volbtn").style.background = "transparent";
      document.getElementById("volbtn").style.color = "#303030";
      document.getElementById("youthbtn").style.background = "transparent";
      document.getElementById("youthbtn").style.color = "#303030";
    }
    function volColorChange(){
      document.getElementById("volbtn").style.background = "#116F3A";
      document.getElementById("volbtn").style.color = "white";
      document.getElementById("staffbtn").style.background = "transparent";
      document.getElementById("staffbtn").style.color = "#303030";
      document.getElementById("youthbtn").style.background = "transparent";
      document.getElementById("youthbtn").style.color = "#303030";
    }
    function youthColorChange(){
      document.getElementById("youthbtn").style.background = "#116F3A";
      document.getElementById("youthbtn").style.color = "white";
      document.getElementById("staffbtn").style.background = "transparent";
      document.getElementById("staffbtn").style.color = "#303030";
      document.getElementById("volbtn").style.background = "transparent";
      document.getElementById("volbtn").style.color = "#303030";
    }
    </script>


  </body>
</html>
