body {
	background: url("../resources/Woodgrain_Pattern.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#header {
	/*padding: 0px;*/
	height: 15vw;
	font:'Lato', sans-serif;
  font-size: 7vw;
	background-color: #00A850;
	color: white;
	margin-bottom: 2vw;
	padding: 2vw;
}
#header img{
	/*border-radius: 50%;*/
	/*height:10vw;*/
	margin-top:-.145em;
	margin-left:-.145em;
	/*width:15vw;*/

}
h1{
margin-top: 3vw;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 0.7em;

}
/*#h1-text{
	width: 90%;
}*/

img, #h1-text {
	display: inline-block;
}


#menuOptions {
	background-color: rgba(255, 255, 255, 0.8);
  padding-left: 5vw;
	padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 10vw;
}

h5 {
	font: 'Lato', sans-serif;
	color: #116F3A;
	text-align: right;
	font-size: 1.8em;
}
hr {

	border: 1px solid #303030;
}

a {
		color: #116F3A;
		font-size: 6vw;
}
a:hover {
	text-decoration: none;
	color: #116F3A;
}
.btn {
	margin-top: 5vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	height: 15vw;
	font-size: 6vw;
	font-family: 'Lato', sans-serif;
	background: #303030;
	border: 3px solid #116F3A;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 10px;
	color: white;
	letter-spacing: 1.28px;
}
.btn:focus, .btn:hover {
	background: #494849;
	color: #58D68D;
}
